<!-- Navbar-->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
<header class="navbar navbar-sticky">

  <app-search (onHideSearch)="showSearch = false" [showSearch]="showSearch" class="site-search-wrapper"></app-search>

  <div class="site-branding">
    <div class="inner">
      <!-- Off-Canvas Toggle (#shop-categories)-->
      <a class="offcanvas-toggle cats-toggle" href="" data-toggle="offcanvas"></a>
      <!-- Off-Canvas Toggle (#mobile-menu)-->
      <a style="color:#0da9ef;"  class="offcanvas-toggle" href="" (click)="onMenuToggle($event)"></a>
    </div>
  </div>

  <app-navigation-main></app-navigation-main>

  <!-- Toolbar-->
  <div class="toolbar">
    <div class="inner">
      <div class="tools">
        <div style="border-color:#0da9ef;" class="search">
          <i (click)="showSearch = true" class="icon-search"></i>
        </div>
        <div style="border-color:#0da9ef;" class="account">
          <i (click)="showSearch = true" class="icon-moon"></i>
          <ul class="toolbar-dropdown">
            <li>
              <a routerLink="/" href="">$ (USD)</a>
            </li>
            <li>
              <a routerLink="/" href="">€ (EUR)</a>
            </li>
            <li>
              <a routerLink="/" href="">£ (GBP)</a>
            </li>
            <li>
              <a routerLink="/" href="">₺ (TRY)</a>
            </li>
          </ul>
        </div>
        <div style="border-color:#0da9ef;" class="account">
          <i (click)="showSearch = true" class="icon-globe"></i>
          <ul class="toolbar-dropdown">
            <li>
              <a routerLink="/" href="">EN</a>
            </li>
            <li>
              <a routerLink="/" href="">TR</a>
            </li>
            <li>
              <a routerLink="/" href="">ES</a>
            </li>
          </ul>
        </div>
    
        <div style="border-color:#0da9ef;" class="account">
          <a *ngIf="!user; else whenLoggedIn" routerLink="/register-login"></a>

          <ng-template #whenLoggedIn>
            <a routerLink="/account/profile"></a>
          </ng-template>

          <i class="icon-head"></i>
          <ul *ngIf="user" class="toolbar-dropdown">
            <li class="sub-menu-user">
              <div class="user-info">
                <h6 class="user-name">{{ user.email }}
                  <!-- <span *ngIf="user.authorities.indexOf('admin') > -1"> (Admin)</span> -->
                </h6>
              </div>
            </li>
            <li>
              <a routerLink="/account/profile" href="">My Profile</a>
            </li>
            <li>
              <a routerLink="/account/orders" href="">Orders List</a>
            </li>
            <li class="sub-menu-separator"></li>
            <li>
              <a href="" (click)="onLogOut($event)">
                <i class="icon-unlock"></i>Logout</a>
            </li>
          </ul>
        </div>


        <app-toolbar-cart></app-toolbar-cart>

      </div>
    </div>
  </div>
</header>
